* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 120px;
    background: rgb(100, 96, 96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 50px;  
    border-radius: 50%;
}

nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

nav a:hover,
nav a.active{
    color: lightblue;

}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

section:nth-child(odd){
    background: gray
}

p {
    color: black;
  }


#profile {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: 100px;

    /* circle */
    border-radius: 50%;
}

.one {
    margin: 8%;
    margin-top: 13%;
}

.one h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}

span {
    color: yellow;
    text-shadow: 2px 2px 10px black;
}
.soc{
    font-size: large;
}

.resume{
    background: rgb(15, 15, 15);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    padding: 10px 18px;
    color: white;
}

.resume:hover{
    background: darkblue;
}

.image img{
    border-radius: 50%;
    width: 50%;
}

/* .image {
    width 45%
    height 80%
    position: absolute
    bottom: 0
    right: 100px
 }
 
 .image img{
    height: 100%
    position: abosulte
    left: 50%
    bottom: 0
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
 }
 */

footer {
    background-color: rgb(30, 139, 235);
}
